.item {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;

  background-color: #EBE8E0;
  border-radius: 36px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem 1rem 1.5rem;
}

.image {
  width: 100%;
  height: 22rem;
  overflow: hidden;
  border-top-right-radius: 26px;
  border-top-left-radius: 26px;
  text-align: center;
}

.image img {
  width: 100%;
  object-fit: cover;
  height: 350px;
}

.content {
  text-align: center;
  padding: 1rem;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #2c292b;
  border: 1px solid #2c292b;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.content .infoBtn {
  cursor: pointer;
  color: #2c292b;
  border: 1px solid #2c292b;
  background-color: transparent;
  border-radius: 4px;
  padding: 5px;
  margin: 8px;
}

.content .infoBtn:hover {
  background-color: #e9e6e2;
}

img.categoryIcon {
    width: 25px;
}

.actions button:hover,
.actions button:active {
  background-color: #f0ebe5;
}

@media screen and (max-width: 720px) {
  .image {
    height: auto;
  }
}