.container {
    display: flex;
    /* height: 100%; */
    width: 80%;
    margin-left: 10%;
    /* margin-left: 10%; */
    background-color: #dbd5cc;
    border-radius: 16px 16px 0 0;
    padding: 2%;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-content: center; */
    padding-top: 120px;
}



.form {
  display: flex;
  align-items: center;
  text-align: center;
    background-color: #dbd5cc;
    border-radius: 16px 16px 0 0;
    background-color: #dbd5cc;
    flex-direction: column;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 14px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  width: 100vh;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.container button {
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #2c292b;
  border-radius: 14px;
  font-size: large;
  font-weight: bold;
  margin-top: 25px;

}

.container button:hover {
  background-color: #e9e6e2;
}
