.snackbar {
  position: fixed;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60px;
  border-radius: 18px;
  border: 1px solid #b4d6a5;
  background-color: #a2cc8e;
  padding: 15px;
  display: flex;
  align-items: center;
  text-align: center;

  transform: translateY(200px);
  transition: all 300ms;
}

.snackbar.show {
  transform: translateY(0);
}

.snackbar button {
  margin-left: 10px; 
}

.snackbar .message {
  flex: 80%;
  /* text-align: start; */
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
