.footer {
  width: 80%;
  height: 5rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #C5B7A2;
  padding: 0 10%;
}

.footer a {
  text-decoration: none;
}