.footer {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 0;
  width: 80%;
  height: 5rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* background-color: #C5B7A2; */
  background-color: #dbd5cc;
  border-radius: 0 0 15px 15px;
  padding: 0;
}

.topLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.5rem;
}

.footer a, a:visited  {
  text-decoration: none;
  color: #2c292b;
  margin-left: 1.5rem;
}

.footer a:hover{
  text-decoration: none;
  color: #925e83;
}