
.header {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 3px 0;
}

/* .logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
} */



.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header nav li {
  margin-left: 3rem;
}

.header nav a {
  text-decoration: none;
  /* font-size: 1rem; */
  color: #545041;
}

.header nav a:hover,
.header nav a:active,
.header nav a.active {
  color: #E8E3D6;
  border-bottom: solid 5px #E8E3D6;
  transition: all 0.2s ease 0s;
}

.badge {
  background-color: #545041;
  color: white;
  border-radius: 8px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

@media screen and (max-width: 1050px) {
  .header {
    padding: 0 6%;
  }

  .logo {
    font-size: 1.5rem;
  }

  .header nav li {
    margin-left: 2rem;
  }

  .header nav a {
    font-size: 1.1rem;
  }

  .badge {
    margin: 0 0 0 0.2em;
    padding: 0 0.6em;
  }
}

@media screen and (max-width: 720px) {
  .header {
    padding: 0 5%;
  }

  .logo {
    font-size: 1.1rem;
  }

  .header nav li {
    margin-left: 0.9rem;
  }

  .header nav a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 540px) {
  .header {
    position: relative;
  }

  .logo {
    margin: auto;
    font-size: 1.3rem;
  }
  .header nav {
    display: none;
  }
}